.venv/
.vscode/launch.json
Day 5/Part 2/input.txt
Day 6/Part 1/input.txt
Day 6/Part 1/test.txt
Day 6/Part 2/input.txt
Day 6/Part 2/test.txt
Day 7/Part 1/input.txt
Day 7/Part 1/test.txt
Day 7/Part 2/input.txt
Day 7/Part 2/test.txt
Day 7/Part 2/test2.txt
Day 8/Part 1/input.txt
Day 8/Part 1/test.txt
Day 8/Part 1/test2.txt
Day 8/Part 2/input.txt
Day 8/Part 2/test.txt
Day 8/Part 2/test2.txt
Day 9/Part 1/input.txt
Day 9/Part 1/test.txt
Day 9/Part 2/input.txt
Day 9/Part 2/test.txt
Day 10/Part 1/input.txt
Day 10/Part 1/test1.txt
Day 10/Part 1/test2.txt
Day 10/Part 1/test1c.txt
Day 10/Part 1/test2c.txt
Day 10/Part 2/input.txt
Day 10/Part 2/test1.txt
Day 10/Part 2/test1c.txt
Day 10/Part 2/test2.txt
Day 10/Part 2/test2c.txt
Day 11/Part 1/input.txt
Day 11/Part 1/test.txt
Day 11/Part 2/input.txt
Day 11/Part 2/test.txt
Day 12/Input/test.txt
Day 12/Input/input.txt
Day 13/Input/input.txt
Day 13/Input/test.txt
Day 13/Input/test2.txt
Day 14/Input/input.txt
Day 14/Input/test.txt
Day 15/Input/input.txt
Day 15/Input/test.txt
